{% extends 'base.html.twig' %}
{% block body %}
   <h1>Admin</h1>
   <a href="{{ path('list-critique') }}">Liste des critiques</a>
    <br>
  <a href="{{ path('list-comment') }}">Liste des Commentaires</a>
    <br>
  <a href="{{ path('list-user') }}">Liste des utilisateurs</a>
    <br>


{% endblock %}