{% extends 'base.html.twig' %}
{% block body %}

    <img class="couverture" src="img/couvent.jpg" alt="" width="200px"> <div class="critique"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, amet autem blanditiis cumque deserunt excepturi exercitationem impedit laudantium necessitatibus nisi provident quia, repellat repellendus sed, similique sint temporibus ut voluptate.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="couvent.html" role="button">lire l'article</a>
        </p></div>
    <br>
    <img class="couverture" src="img/couvent.jpg" alt="" width="200px">
    <img src=" http://placehold.it/350x150" alt"">
    <div class="critique"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt id nostrum quo tempora! Adipisci
            consectetur corporis, ducimus est illum magnam mollitia officia, officiis, quia quidem ratione tempore vero
            voluptates. Ex.
        </p><p class="lead">
            <a class="btn btn-primary btn-lg" href="couvent.html" role="button">lire l'article</a>
        </p></div>

{% endblock %}