{% extends 'base.html.twig' %}
{% block body %}
    <h1>Bienvenue sur mon blog de critique sur les mangas.</h1>
    <br>
<h4>Vous trouverez dans l'onglet critiques la liste de toutes les critiques que j'ai déjà réalisées</h4>
    <br>
<h4>Dans l'onglet " lexique pour débutant " une brève explication de plusieurs termes qui apparaitront dans les critiques </h4>
    <br>
    <h4>Vous pouvez créer un compte pour naviguer sur le site plus librement et avoir acces a l'espace commentaire et cliquant sur "Inscription"</h4>
    <br>


{% endblock %}
